<% layout('layout') -%>
<div>
	<form action="/t/create" method="post">
		<input type="text" name ="title" value="title"></input>
		<textarea name="content" id="content"></textarea>
	</form>
</div>

<div><span><a id="btn-save" href="#">保存</a></span></div>

<% 

var str = "<script >"
		+"var simplemde = new SimpleMDE();"
			+"$('#btn-save').click(function(){"
			+"$('#content').val(simplemde.value());"
			+"$('form').submit();"
			+"return false;"
			+"});"
	+"</script>";

block('script').append(str) 

%>