<% layout('layout') -%>
<div class="row">
	<div class="col-md-9">
		<form action="/t/create" method="post">
			<textarea name="title" id="title" class="form-control" rows="2" placeholder="标题"></textarea>
			
			<div class="spa10h"></div>

			<div>
				
				<textarea name="content" id="content" class="form-control" rows="3" placeholder="描述"></textarea>
			</div>
		</form>
		<div>
			<span>
				<a class="btn btn-success" id="btn-save" href="#" role="button">发表
				</a>
			</span>
		</div>
	</div>
	<div class="col-md-3">
		<%- partial('./_profile') %>
	</div>
</div>
<%
var str = 	"<script >"
		+"var simplemde = new SimpleMDE({ element: document.getElementById('content')});"
		+"$('#btn-save').click(function(){"
		+"$('#content').val(simplemde.value());"
		+"$('form').submit();"
		+"return false;"
		+"});"
+"</script>";
block('tail-script').append(str)
%>