<% layout('layout') -%>
<div class="row">
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<b class="panel-title"><%= topic.title%></b>
			</div>
			<div class="panel-body">
				<%= topic.content%>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				回复
			</div>
			<div class="panel-body">
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				添加回复
			</div>
			<div class="panel-body">
				<textarea name="content" id="content" class="form-control" rows="3" placeholder="添加回复"></textarea>
			</div>
			<div class="panel-footer">
				<a class="btn btn-success" id="btn-save" href="#" role="button">回复
				</a>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<%- partial('./_profile') %>
	</div>
</div>
<%
var str = 	"<script >"
	+"var simplemde = new SimpleMDE({ element: document.getElementById('content')});"
+"</script>";
block('script').append(str)
%>