<% layout('layout') -%>
<div class="row">
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<b class="panel-title"><%= topic.title%></b>
				<div class="topic-info">
					<a href="#"><%= topic.author.loginname%></a> &nbsp;•&nbsp;
					于<%= topic.create_at_ago() %>发起
					<%
					if(topic.replies &&  topic.replies.length > 0){
					var  lastreply = topic.replies[topic.replies.length-1];
					%>
					&nbsp;•&nbsp; 最后由<a href="#"><%= lastreply.author.loginname%></a>
					&nbsp;•&nbsp; 于<%= lastreply.create_at_ago() %>回复
					<%
					}
					%>
					&nbsp;•&nbsp; <%= topic.visit_count %>次浏览
				</div>
			</div>
			<div class="panel-body">
				<%- topic.content%>
			</div>
		</div>
		<div class="list-group">
			<div class="list-group-item list-header"><%= topic.replies.length%>回复</div>
			<%
			for(var i=0; i < topic.replies.length; i++){
			var reply = topic.replies[i];
			%>
			<div class="list-group-item">
				<img class="avatar48" src="<%= reply.author.avatar%>">
				<div><%= reply.author.loginname%></div>
				<div><%= reply.create_at_ago()%></div>
				<%= reply.content%>
			</div>
			<% } %>
		</div>
		<% if (typeof(current_user) !== 'undefined' && current_user) { %>
		<div class="list-group">
			<div class="list-group-item list-header"><span>添加回复</span></div>
			<div class="list-group-item">
				<form id='reply_form' action='/<%= topic._id %>/reply' method='post'>
					<textarea name="r_content" id="r_content" class="form-control" rows="3"></textarea>
				</form>
			</div>
			<div class="list-group-item">
				<a class="btn btn-success" id="btn-save" href="#" role="button">回复
				</a>
			</div>
		</div>
		<% } %>
	</div>
	<div class="col-md-3">
		<%- partial('./sidebar') %>
	</div>
</div>
<script>
	var simplemde = new SimpleMDE(
		{
			element: document.getElementById('r_content'),
			status: false
}
		);
	$('#btn-save').click(function(){
		$('#r_content').val(simplemde.value());
		$('#reply_form').submit();
	});
</script>