<% layout('layout') -%>
<div class="row">
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<b class="panel-title"><%= rst.topic.title%></b>
			</div>
			<div class="panel-body">
				<%= rst.topic.content%>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				回复
			</div>
			<div class="panel-body">
				<ul>
					<%
					for(var i=0; i<rst.replies.length; i++){
					var reply = rst.replies[i];
					%>
					<li><%= reply.content%></li>
					<% } %>
				</ul>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				添加回复
			</div>
			<div class="panel-body">
				<form id='reply_form' action='/<%= rst.topic._id %>/reply' method='post'>
					<textarea name="r_content" id="r_content" class="form-control" rows="3" placeholder="添加回复"></textarea>
				</form>
				
			</div>
			<div class="panel-footer">
				<a class="btn btn-success" id="btn-save" href="#" role="button">回复
				</a>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<%- partial('./_profile') %>
	</div>
</div>
<%
var str =
"<script >"
	+"var simplemde = new SimpleMDE({ element: document.getElementById('r_content')});"
	+"$('#btn-save').click(function(){"
		+"$('#r_content').val(simplemde.value());"
		+"$('#reply_form').submit();"
		+"return false;"
	+"});"
+"</script>";
block('script').append(str)
%>