<% layout('layout') -%>
<div class="container">
	
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="list-group">
				<%
				for(var i=0; i < topics.length; i++){
				var topic = topics[i];
				%>
				<div class="list-group-item topic-row">
					<span>img</span>
					<span class="spa10w"></span>
					<div class="topic-row-item">
						<span>111</span>
						<div></div>
						<span>2222</span>
					</div>
					<span class="spa10w"></span>
					<span class="badge topic-row-item-badge">14</span>
				</div>
				<%
				}
				%>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>