<% layout('layout') -%>
<div class="row">
	<div class="col-md-9">
		<div class="list-group">
			<%
			for(var i=0; i < topics.length; i++){
			var topic = topics[i];
			%>
			<div class="list-group-item list-topic">
				
				<img class="avatar48" src="<%= topic.author.avatar%>">
				<span class="slice10"></span>
				<div class="list-topic-cell">
					<span class="list-topic-cell-title "><a href="/topic/<%= topic._id%>"><%= topic.title%></a></span>
					<div></div>
					<span class="list-topic-cell-info">
						<a href="#"><%= topic.author.loginname%></a>
						
						<%
						if(topic.reply && topic.reply.author){
						%>
						&nbsp;•&nbsp;  最后由 <a href="#"><%= topic.reply.author.loginname%></a> <%= topic.reply.create_at_ago() %>回复
						<%
						}
						%>
						
					</span>
				</div>
				<span class="slice10"></span>
				<span class="badge list-topic-cell-center"><%= topic.reply_count%></span>
			</div>
			<%
			}
			%>
		</div>
	</div>
	<div class="col-md-3">
		<%- partial('./sidebar') %>
	</div>
</div>