<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title></title>
		<%- Loader('/public/index.css')
		.css('http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css')
		.css('/public/libs/editor/simplemde.min.css')
		.css('/public/stylesheets/common.css')
		.done(assets, config.site_static_host, config.mini_assets) %>
		<%- Loader('/public/index.min.js')
		.js('http://cdn.bootcss.com/jquery/2.2.1/jquery.js')
		.js('http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.js')
		.js('/public/libs/editor/simplemde.min.js')
		.done(assets, config.site_static_host, config.mini_assets) %>
		<style type="text/css">
		</style>
	</head>
	<body>
		<nav class="navbar navbar-static-top holygrail-header">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Jeeko</a>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="/signup">注册</a></li>
					<li><a href="/signin">登录</a></li>
				</ul>
				<form class="navbar-form navbar-right" role="search">
					<input type="text" class="form-control" placeholder="输入关键字搜索">
				</form>
				
			</div>
		</nav>
		<div class="container ">
			<%-body -%>
		</div>
	<footer></footer>
</body>
<%- block('tail-script').toString() %>
</html>