.topic-row
{
    display: flex;
}
.topic-row-item
{
    flex: 1;
}
.spa10w
{
    width: 10px;
}
.spa10h
{
    height: 10px;
}
.cell-aside {
	padding: 10px;
    font-size: 12px;
    line-height: 120%;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
}
.border0 {
	border: 0;
}
.topic-row-item-badge {
	align-self: center;
}

.bg-warning-classes {
    padding: 15px;
    color: #b94a48;
    background-color: #F2DEDE;

}

.bg-success-classes {
    padding: 15px;
    background-color: #dff0d8;
}